*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2793F2;
}
.container{
    max-width: 1170px;

}
main h1{
    color: #242526;
}

main .box-card{
    padding: 15px;
    background-color: #F28F16;
    /* display: inline-block; */
}

.ms_mb-50{
    margin-bottom: 50px;
}
.top-card,
.botton-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ms_d-flex{
    display: flex;
}
.ms_j-evenly{
    justify-content: space-evenly;
}
.ms_j-center{
    justify-content: center;
}
.ms_f-dir-col{
    flex-direction: column;
}
.ms_align-it-center{
    align-items: center;
}
label{
    margin-bottom: 15px;
}
.block{
    display: block;
}